<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
	<title>Impressive Multiple Forms a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="css/style_input.css">
	<!--<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<!link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->

	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Impressive Multiple Form  Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
<div class="top">

</div>
<h1>神经网络数据管理平台</h1>
	<div class="container">
		<h3>输入参数</h3>
        <div class="input">
        <form action="output.html" method="post">
        <h4 class="picture">图像参数</h4>
        <div class="picture">
					<p>参数a</p>
					<input type="text" class="name" name="username" placeholder="参数1" required="">
        </div>
        <h4 class="net">网络参数</h4>
        <div class="net">
        			<p>参数b</p>
					<input type="password" class="password" name="password" placeholder="参数2" required="">
        			<p>参数c</p>
					<input type="password" class="password" name="confirm password" placeholder="参数3" required="">
         </div>
         
         <h4 class="control">控制参数</h4>
         <div class="control">
        			<p>参数c</p>
					<input type="text" class="email" name="email" placeholder="参数4" required="">
        			<p>参数d</p>
					<input type="text" class="location" name="location" placeholder="参数5" required="">
          </div>
          			<a href="javascript:;" class="a-upload">
          			<input type="file" value="上传图像文件" onClick=""   align="middle">
          			</a>
          			<a href="javascript:;" class="a-upload">
          			<input type="file" value="上传文本文件" onClick=""   align="middle">
          			</a>
					<input type="submit" value="提交" onClick="href=" output.html""  align="middle">
		</form>
          </div>

	<div class="footer agile">
			<p> &copy; 2016 Impressive Multiple Forms . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
</body>
</html>