<!doctype html>
<html lang="zh-cn">
<head>
	<title>table_out</title>
	<link rel="stylesheet" href="css/style_output.css">
	<!--link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<! For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Impressive Multiple Form  Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<style>
	#lside{
		width: 500px;
		margin: 10px;

	}
	#rside{
		width: 480px;
		height: 1000px;
		margin: 10px;
        float: right;
	}
	#bside{
		width: 480px;
		height: 1000px;
		margin: 10px;
        float: right;		
	}
	</style>
</head>
<body>
<div class="top">

</div>
<h1>神经网络数据管理平台</h1>
	<div class="container">
		<h3>输出参数</h3>
		<div id="lside">
		
        <div class="output">
        <form action="#" method="post">
        <h4 class="net">调试时输出网络的逐层</h4>
        <div class="net">
        
</div>
<h4 class="net">网络迭代次数，用时及当前学习率等</h4>
        <div class="net">
			
         </div>
         
         <h4 class="net">网络最终输出的包括softmax,max等的内容</h4>
         <div class="net"> 
			
          </div>
</form>
	<div class="back">
    <a href="input.html"><div class="backbutton" align="center"><p align="center">返回输入</p></div></a>
    </div>
  
    </div>
     <div id="rside">
    	<h3>输出曲线图</h3>
    </div>
     <div id="bside">
    	<h3>直接查看输出数据 </h3>
    </div>
<div class="footer agile">
			<p> &copy; 2016 BUPT Multiple Forms . All Rights Reserved | Design by <a href="http://www.bupt.edu.cn/">BUPT</a></p>
		</div>
</body>
</html>