{% load staticfiles %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
	<title>Impressive Multiple Forms a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href={% static 'css/style_input.css' %}>
	<!--<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<!link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->

	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Impressive Multiple Form  Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
<div class="top">

</div>
<h1>神经网络数据管理平台</h1>
	<div class="container">
		<h3>输入参数</h3>
        <div class="input">
        <form action="/output/" method="post" enctype="multipart/form-data">
          			<a href="javascript:;" class="a-upload">
          			<input type="file" name ="JPEG" value="上传文本文件" align="middle">
          			</a>
					<input type="submit" value="提交"  align="middle">
                    <!-- onClick="href=" output.html""  -->
		</form>
          </div>

	<div class="footer agile">
			<p> &copy; 2016 Impressive Multiple Forms . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
        </div>
</body>
</html>