{% load staticfiles %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
	<title>Impressive Multiple Forms a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="{% static '/css/style_login.css' %}">
	<!--<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->

	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Impressive Multiple Form  Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
<div class="top"></div>
<h1>神经网络数据管理平台</h1>
	<div class="container">
	
		<div class="left w3l">
		<h3>注册</h3>
			<div class="register agileits">
				<form action="/register/" method="post">
					<input type="text" class="name" name="username" placeholder="用户名" required="">
					<input type="password" class="password" name="password" placeholder="密码" required="">
					<!--<input type="password" class="password" name="confirm password" placeholder="确认密码" required="">
					<input type="text" class="email" name="email" placeholder="E-mail" required="">
					<input type="text" class="location" name="location" placeholder="位置" required=""> -->
					<input type="submit" value="注册">
				</form>
			</div>
			<!-- <h3>发送邮件</h3>
			<div class="send-mail">
				<form action="#" method="post">
					<input type="text" class="name" name="username" placeholder="用户名" required="">
					<input type="text" class="email" name="email" placeholder="E-mail" required="">
					<textarea name="your message" placeholder="信息"></textarea>
					<input type="submit" value="发送">
				</form>
			</div> -->
		</div>
		<div class="right">
		<h3>登陆</h3>
			<div class="sign-in">
				<form action="/" method="post">
					<input type="text" class="name" name="username" placeholder="用户名" required="True">
					<input type="password" class="password" name="password" placeholder="密码" required="True">
					<ul>
						<li>
							<input type="checkbox" id="brand1" value="">
							<label for="brand1"><span></span>记住我</label>
						</li>
					</ul>

					<input type="submit"  value="登陆">
					<div class="clear"></div>
				</form>
			</div>
		
		<h3>管理员登陆</h3>
			<div class="sign-in">
				<form action="input.html" method="post">
					<input type="text" class="name" name="username" placeholder="用户名" required="">
					<input type="password" class="password" name="password" placeholder="密码" required="">
					<ul>
						<li>
							<input type="checkbox" id="brand1" value="">
							<label for="brand1"><span></span>记住我</label>
						</li>
					</ul>

					<input type="submit"  value="管理员登陆">
					<div class="clear"></div>
				</form>
			</div>

			<!-- <h3>找回</h3>
			<div class="recover">
				<form action="#" method="post">
					<input type="text" class="email" name="email" placeholder="E-mail" required="">
					<input type="text" class="number" name="phone number" placeholder="手机号" required="">
					<input type="submit" class="send" value="发送">
					<input type="submit" class="done" value="确认">
				</form>
			</div> -->
			<!-- <h3>订阅</h3>
			<div class="subscribe">	
				<form action="#" method="post">
					<input type="text" class="email" name="email" placeholder="E-mail" required="">
					<input type="submit" value="订阅">
					<input type="submit" class="no-thanks" value="暂不订阅">
				</form>
			</div> -->
			<!-- <h3>关注我们</h3>
			<div class="socialicons w3">
				<ul>
					<li><a class="facebook" href="#"></a></li>
					<li><a class="twitter" href="#"></a></li>
					<li><a class="google" href="#"></a></li>
					<li><a class="pinterest" href="#"></a></li>
					<li><a class="linkedin" href="#"></a></li>
				</ul>
			</div> -->
		</div>
		<div class="clear"></div>
		
	</div>
	<div class="footer agile">
			<p> &copy; 2016 Impressive Multiple Forms . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
</body>
</html>