{% load staticfiles %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
	<title>Impressive Multiple Forms a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href={% static 'css/style_input.css' %}>
	<!--link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<! For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Impressive Multiple Form  Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
<div class="top">

</div>
<h1>神经网络数据管理平台</h1>
	<div class="container">
		<h3>输出参数</h3>
        <div class="output">
        <form action="#" method="post">
        <h4 class="net">调试时输出网络的逐层</h4>
        <div class="net">
        <p>output_minibatch_error:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
        <p>output_minibatch_error_ReLU:<textarea readonly required class="text">{{ outputtext.text }} </textarea></p>
        <p>output_minibatch_error_relu6:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
</div>
<h4 class="net">网络迭代次数，用时及当前学习率等</h4>
        <div class="net">
			<p>output_time:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
            <p>output_time_ReLU:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
            <p>output_time_relu6:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
         </div>
         
         <h4 class="net">网络最终输出的包括softmax,max等的内容</h4>
         <div class="net"> 
			<p>output_validation_error:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
            <p>output_validation_error_ReLU:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
            <p>output_validation_error_relu6:<textarea readonly required class="text"> {{ outputtext.text }}</textarea></p>
          </div>
</form>
	<div class="back">
    <a href="/"><div class="backbutton" align="center"><p align="center">返回输入</p></div></a>
    </div>
<div class="footer agile">
			<p>  <a href="http://w3layouts.com">Artificial Neural Network
</a></p>
		</div>
</body>
</html>